[Unit]
Description=ELC Discord Bots Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Discord-Bots
# ExecStart points to the update script instead of python directly
ExecStart=/bin/bash /home/pi/Discord-Bots/scripts/start_and_update.sh
Restart=always
# Wait 60 seconds before restarting to prevent rapid loops if crashing, and allow time for network/updates
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
