[Unit]
Description=ELC Discord Bots Host
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{INSTALL_DIR}}
ExecStart=/bin/bash {{INSTALL_DIR}}/raspberry_pi/run_bot.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
